<div class="login">
    <div class="login_container">
        <img class="login_logo"
        src="../../../assets/headerlogo.png">
        <div class="login_form" [formGroup]="loginForm">
            <h1>Sign-In</h1>
            <form action="">
                <h5>Email</h5>
                <input type="email" formControlName ="email">
                <h5>Password</h5>
                <input type="password" formControlName="password">
                <button class="login_signIn_button" (click)="signIn()">Sign In</button>
                <hr>
                <button class="login_create_button" (click)="createAccount()">Create Account</button>
            </form>
        </div>
    </div>
</div>